@charset "UTF-8";
@font-face {
    font-family: 'Logue';
    src: url("../police/Master.ttf");
}

@font-face {
    font-family: 'Junction';
    src: url("../police/Junction-regular.otf");
}

* {
    font-family: Junction, "Times New Roman", Times, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background:  #2F2240;
    background:linear-gradient(-90deg,#FF5722,#ff9122) 50% no-repeat;
    
}

.user{
    margin:auto;
    display: flex;
}


.user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left:20px;
}


.user a{
    margin-right: 10px;
}

.nav:hover{
    right:0px;
}


h2{
    margin:auto;
    text-transform: capitalize;
    color:white;
    font-size: 30px;
}

a:hover{
    color:white;
}

.box{
    height: 90vh;
    width: 85%;
    margin:auto;
    display: flex;
    align-items: center;
}

.logo{
    margin:auto;
    background: #968dc3;
    width: 550px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin:10px;
    justify-content: space-between;
    border-radius: 30px;
    position:relative;
    
}

.logo a img{
    height: 50%;
    width: 25%;
    margin:auto;
    color:grey;
    margin-top:30px;
    
}

.logo a{
    width: 100%;
    display:flex;
    border-radius: 30px;
}

.logo a:hover{
    background: #5d577e 
}

.logo p{
    line-height: 50px;
    width: 100%;
    font-size:20px;
    font-family: Junction;
    letter-spacing: 1px;
    position:absolute;
    bottom:0px;
    margin:auto;
    text-align: center;
    color:white;
    
}







