@charset "UTF-8";
@font-face {
    font-family: 'Logue';
    src: url("../police/Master.ttf");
}

@font-face {
    font-family: 'Junction';
    src: url("../police/Junction-regular.otf");
}

* {
    font-family: Junction, "Times New Roman", Times, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background:  #2F2240;
}

.login{
    position: absolute;
    margin:auto ;
    padding-top:70px;
    padding-bottom: 70px;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: #23183A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    font-family: Junction;
}

.login h3{
    margin-bottom: 5px;
    margin-left:10px;
    font-size:15px;
    color:#76718E;
}

.login .username{
    margin:50px;
    margin-top: 0px;
    color:white;
}

.login .password{
    margin:50px;
    margin-top:0px;
    color:white;
}

.login input{
    width: 100%;
    border-radius: 30px;
    height: 30px;
    background: #2d233c;
    border:none;
    padding-left:7px;
    padding-right:7px;
    margin-left:-7px;
    color:#918da3;
    font-size: 15px;

}

.login input:focus{
    outline: none;
    box-shadow: 0 0 0 1px #16C791;

}

.login button{
    margin:50px;
    margin-top:0px;
    margin-bottom: 0px;
    border-radius: 30px;
    height: 30px;
    border: none;
    background-color: #16C791;
    font-weight: bold;
    color:#ffffff;
    font-size: 15px;
}

.login h2{
    text-align: center;
    margin-top:30px;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: -50px;
    padding:0;

    font-size:20px;
    font-weight: 100;
    color:#720000;

}

.user{
    position:fixed;
    width: 300px;
    background-color: #16C791;
    height: 80px;
    display: flex;
    top:0px;
}


.user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin:auto;
    margin-left: 15px;
}

.user a{
    margin:auto;
    margin-right: 10px;
}


.nav{
    position:fixed;
    background: #594772;
    width:300px;
    top:80px;
    height: 100vh;
    right:-220px;
    transition:right 0.5s;
    z-index: 3;
}

.nav:hover{
    right:0px;
}

.nav_item{
    height: 50px;
    list-style-type: none;

}

.nav_item:first-child{
    margin-top: 20px;
}

.nav_item p{
    line-height: 50px;
    float:right;
    width: 70%;
    font-size:20px;
    font-family: Junction;
    letter-spacing: 1px;
}

.nav h2{
    margin:auto;
    text-transform: capitalize;
    color:white;
}

.nav a{
    text-decoration: none;
    color:#968dc3;
    transition: color 1s;
}

.nav a:hover{
    color:white;
}

.nav .select{
    display: block;
    color:#16C791;
    box-shadow: inset 5px 0px 0px 0px #16C791;
}

.nav .select:hover{
    color:#16C791;
}



.nav .logo{
    height: 40px;
    width: 40px;
    position: absolute;
    margin: auto;
    margin-top:2px;
    margin-left:20px;
    transition: background 1s
}

.nav .logo img{
    height: 30px;
    margin:auto;
    margin-top:5px;
    margin-left:5px;
    color:grey;
}

.box{
    width: 85%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
}

.contenu{
    margin:auto;
    background:#23183A;
    width: 550px;
    margin-top:100px;
    position:relative;
    box-shadow: 3px 3px 5px #23183A;


}

.contenu .retablir a{
    display: none;
    position: absolute;
    top:-40px;
    left:0px;
    background: rgba(49, 49, 49, 0.7);
    width: 100%;
    height: 330px;
    text-decoration: none;

}

.contenu .retablir a h2{
    color:#909090;
    text-align: center;
    line-height: 330px;
    font-size: 60px;
    transform: rotate(-20deg)
}


.contenu .text{
    position: absolute;
    border: none;
    background: #342A48;
    top:-30px;
    width: 93%;
    height: 40px;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    color:white;
    font-size: 20px;

}

.contenu a {
    width: 7%;
    position: absolute;
    background: #342A48;
    top:-40px;
    right:0px;
    height: 40px;
    box-shadow: 3px 0px 0px 0px #23183A;

}

.contenu a img{
    width: 100%;

}

.contenu .modification{
    margin-top:30px;
    margin-left:25px;
    border:none;
    border-color: Transparent;
    resize:none;
    height: auto;
    color:#76718E;
    text-align: justify;
    width: 60%;
    background:#342A48;
    padding:5px;
    border-radius: 5px;

}

.contenu .date1{
    position:absolute;
    border: none;
    background: #342A48;
    top:30px;
    right: 30px;
    text-align: center;
    color:#76718E;
    border-radius: 5px;
}

.contenu .date2{
    position: absolute;
    border: none;
    background: #342A48;
    top:170px;
    right: 30px;
    color:#76718E;
    text-align: center;
    border-radius: 5px;
}

.contenu button{
    margin:auto;
    width: 90%;
    font-size: 20px;
    border: none;
    background: #342A48;
    color:#76718E;
    padding:5px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5%;
    border-radius: 5px;

}

.contenu .range_button{
    position: relative;
    margin:auto;
    margin-top:10px;
    width: 100%;
    text-align: center;


}

.contenu .range_button input[type=checkbox]{
    display:none;
    margin: 10px;
}

.contenu .range_button input[type=checkbox] + label{
    display:inline-block;
    margin-left: 2px;
    margin-right:2px;
    padding:4px 12px;
    background-color: #342A48;
    color:#76718E;
    border-color: #ddd;
    cursor: pointer;
    border-radius: 5px;

}

.contenu .range_button input[type=checkbox]:checked + label{
    background-image: none;
    background-color: white;
}

.nouveau_contenu{
    display: none;
    margin-bottom: 100px;
    transition: display 1s;
}

.apparaitre{
    display: block !important;
    animation-duration: 1s;
    animation-name: apparaitre;

}

@keyframes apparaitre {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

.disparaitre{
    animation-duration: 1s;
    animation-name: disparaitre;
    animation-fill-mode: forwards;

}

@keyframes disparaitre {
    from {
        opacity:1;
    }

    to {
        opacity:0;
        display:none;
    }
}

.nouveau_contenu button{
    background: #16c791;
    color:white;
}

.nouveau_croix{
    width: 7%;
    position: absolute;
    background: #342A48;
    top:-40px;
    right:0px;
    height: 40px;
    box-shadow: 3px 0px 5px #23183A;
    cursor:pointer;
}

.nouveau_croix img{
    width: 100%;

}

.ajouter{
    text-align: center;
    margin:auto;
    margin-top: 90px;
    margin-bottom:100px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background : #76718e;
    text-decoration: none;
    color:#342A48;
    font-weight: 100;
    font-size: 50px;
    cursor:pointer;
}

.lien_ajouter{
    text-decoration: none;
}

.alerte_supp{
    display: none;
    position: absolute;
    margin:auto;
    width: 70%;
    max-width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #171122;
    text-align: center;
    color:white;
    padding: 20px;
    font-size: 30px;
    z-index: 4;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #000;

}

.alerte_supp h2{
    margin-bottom: 30px;
    font-weight: 100;
    line-height: 120%;
}

.alerte_supp a{
    display: inline-block;
    text-decoration: none;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 40px;
    font-weight: bold;
    padding:10px;
}

.alerte_supp .non{
    color:#16c791;

}

.non:hover {
    height: 282px;
    width: 100%;
    max-width: 670px;
    position: absolute;
    z-index: 5;
    background: #16c791;
    top:0px;
    left:-99px;
    border-radius: 30px;
    color:white;
    line-height: 282px;
    font-size: 90px;
}

.alerte_supp .oui{
    color:#720000;

}

.oui:hover {
    height: 282px;
    width: 100%;
    max-width: 670px;
    position: absolute;
    z-index: 5;
    background: #720000;
    top:0px;
    left:-99px;
    border-radius: 30px;
    color:white;
    line-height: 282px;
    font-size: 90px;
}

.valide{
   background : #4FB286 !important;
}

.valide input[type=text]{
    background: #246443 !important;
}

.valide a {
    background: #246443 !important;

}
.valide .modification{
    background:#91FFCD !important;

}

.valide .date1{
    background: #91FFCD !important;
}

.valide .date2{
    background: #91FFCD !important;
}

.valide button{
    background: #91FFCD !important;

}
.valide .range_button input[type=checkbox] + label{
    background-color: #91FFCD;

}

.valide .range_button input[type=checkbox]:checked + label{
    background-color: white;
}








