@media screen and (max-width: 1100px) {
    #propos #contenu {
        width: 60%;
    }
    #contenu {
        .photo_profil img{
            float: none !important;
            width: 50% !important;
            height: auto !important;
            margin-bottom: 40px !important;
        }
        p span{
            font-size:2.5vw;
        }
    }
    .timeline ul li {
        div {
            width: 250px;
        }
        .gauche {
            left: -300px;
        }
    }
    .burger {
        display: inline;
    }
    #menu {
        display: inline;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        margin: auto;
        height: auto;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: rgba(220, 220, 220, 0.9) !important;
        margin-top: 0px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            height: 100%;
            position: relative;
        }
        li {
            display: block;
            height: 20%;
            height: calc(100% / 5);
            min-height: 54px;
            &:first-child{
                margin-top: 8%;
            }

        }
        a {
            font-size: 4vw;
            text-decoration: none;
            color: black;
            width: 100%;
            display: block;
            -webkit-transition: color 0.2s;
            transition: color 0.2s;

            &:hover {
                color: white;
                transition: 0.7s;
            }
        }
    }
    .fixed {
        z-index: 9999;
        position: fixed;
        top: 0px;
        padding-bottom: 10px;
        transition: 1.5s;
        background: black !important;
        border-bottom: 5px solid;
    }
    .show {
        visibility: visible !important;
        opacity: 1 !important;
        -webkit-transition: visibility 0.5s, opacity 0.5s linear !important;
        -o-transition: visibility 0.5s, opacity 0.5s linear !important;
        transition: visibility 0.5s, opacity 0.5s linear !important;
    }
    .fixed a {
        color: black !important;
        &:hover {
            color: grey !important;
            transition: 0.7s;
        }
    }
    .contentContainer {
        width: 60%;
    }
    #contact {
        form {
            width: 60%;
        }
        button {
            font-size: 3vw;
        }
    }
    .timeline ul li {
        .droite, .gauche {
            transform: none;
        }
    }

    .titre{
        border-bottom: 4px solid white !important;
        -webkit-border-image: none !important;
        -webkit-border-image: none !important;
        -o-border-image: none !important;
        border-image: none !important;
        border-image-slice: 0 !important;
    }
}
